.sidebar {
  background: linear-gradient(115deg, $color-1 30%, #452a97 100%);
  font-family: $font-1;
  box-shadow: $shadow;
  height: 100%;
  min-height: $minHeight;
  min-width: 264px;
  border-radius: $borderRadius;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 1fr 108px;
  grid-template-areas: 
    "1"
    "2"
    "3";

    @media (max-width: 850px){
      position: fixed;
      height: 70px;
      width: 100%;
      position: relative;
    }
    @media (max-width: 580px){
      min-width: 100%;
      height: 50px;
    }

  .id {
    grid-area: 1;
    text-align: center;
    user-select: none;
    position: relative;

    .idContent {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;

      img {
        border-radius: 50%;
        box-shadow: 0 0 0 4px $color-3, 0 0 0 8px $color-4, 0 0 0 12px $color-2;
      }
      h3 {
        font-size: 1.1rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        margin-top: 1.5rem;
        color: $color-5;
      }
    }
  }
  .navigation {
    grid-area: 2;
    padding: 2rem 1rem;

    ul {
      height: 100%;
      display: grid;
    
      li {
        padding: 1rem 0 1rem .4rem;
        font-size: 1.3rem;
        position: relative;

        &:hover i {
          transform: translate(3px, 7px);
        }

        a {
        color: $color-5;
        }
        .navActive {
          color: $color-4;
        }

        i {
          position: absolute;
          font-size: 0.95rem;
          transform: translateY(7px);
          transition: .2s ease;
        }
        span {
          margin-left: 2.7rem;
        }
      }
    }
  }
  .socialNetwork {
    grid-area: 3;

    ul {
      display: flex;
      width: 264px;
      padding: 0 14px;
      justify-content: space-between;

      li {
        font-size: 1.5rem;
        color: $color-1;
        border-radius: 50%;
        padding: .45rem 1rem;
        cursor: pointer;
        background-color: $color-5;
        background-image: linear-gradient(115deg, $color-5, rgba(255, 255, 255, 0.3));
        transition: background-color .5s;

        &:hover {
          background-color: rgb(253, 253, 59);
        }
        a:visited {
          color: $color-1;
        }
        &:nth-child(1){
          padding: .45rem .8rem
        }
        &:nth-child(2){
          padding: .45rem .95rem
        }
        &:nth-child(4){
          padding: .45rem .9rem
        }
        i {
          color: $color-1;
        }

      }
    }
    .signature {
      margin-top: 2rem;
      text-align: center;
      letter-spacing: 0.1rem;
      font-size: .7rem;

      p {
        color: $color-5;
      }
    }
  }
}
@media screen and (max-width: 850px){
  .sidebar {
    display: flex;
    min-height: 50px;
    margin-bottom: .2rem;

    .id, .socialNetwork {
      display: none;
    }
    .navigation {
      width: 100%;
      padding: .1rem 1rem;

      ul {
        display: flex;
        justify-content: space-between;

        span {
          margin-left: 1.5rem !important;
        }
      }
    }
  }
}
@media screen and (max-width:580px){
  .sidebar {
    ul {
      justify-content: space-between !important;

      li {
        padding: 1rem 2rem 1rem 1rem !important;
      }
      i {
        font-size: 1.4rem !important;
        transform: translateY(-3px) !important;
      }
      span {
        display: none;
      }
    }
  }
}