.home {

  .homeContent {
    background: linear-gradient(115deg, $color-1 30%, transparent 100%);
    min-height: $minHeight;
    width: 100%;
    min-height: 500px;
    border-radius: $borderRadius;
    position: relative;
    overflow: hidden;
    box-shadow: $shadow;

    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: inherit;
      background: url(../../media/try2.jpg) no-repeat 0% 0%/cover;
      z-index: -1;
      filter: brightness(50%);
    }

    .content {
      position: absolute;
      top: 20%;
      left: 13%;
      font-family: $font-1;

      h1 {
        font-size: 3.5rem;
        font-family: $font-3;
        color: $color-5;
        text-transform: uppercase;
        text-shadow: 1px 3px 2px rgba(51, 51, 51, 0.445);

        @media screen and (max-width: 550px){
          font-size: 1.2rem;
        }

      }
      h2 {
        font-size: 2.5rem;
        padding: 1.5rem 0 7rem;
        color: $color-3;
        text-shadow: 1px 4px 3px rgba(51, 51, 51, 0.233);

        @media screen and (max-width: 550px){
          font-size: 1rem;

        }
      }
      .pdf {
        a {
          font-size: 1.5rem;
          padding: 1rem 2rem;
          border-radius: $borderRadius;
          box-shadow: 0 4px 1px rgba(15, 15, 15, 0.401);
          transition: 0.2s ease;
          background-color: $color-5;
          background-image: linear-gradient(115deg, $color-5, rgba(255, 255, 255, 0.3));
          transition: background-color .5s;
  
          &:hover {
            background-color: rgb(253, 253, 59);
          }
          @media screen and (max-width: 550px){
            font-size: .7rem;
            padding: .7rem 1.4rem;

          }
        }
      }
    }
  }
}
@media screen and (max-width: 850px){
  .homeContent {
    margin: 0 !important;
  }
}
@media screen and (max-width:580px){
  .homeContent {
    &:after {
    background: url(../../media/try2.jpg) no-repeat 60% 50%/cover !important;
    }
  }
}