.portfolio {
  .portfolioContent {
    width: 100%;
    display: grid;
    min-height: $minHeight;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
      "1"
      "2";
  }

  .radioDisplay {
    grid-area: 1;
    border-radius: $borderRadius;
    display: flex;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0 auto;
    background: linear-gradient(115deg, $color-1 0%, #452a97 80%);
    user-select: none;
    box-shadow: $shadow;

    @media (max-width: 850px){
      position: fixed;
      position: relative;
      height: 50px;
    }
    @media (max-width: 580px){
      padding: 1rem 6px 1rem 4px;
    }

    li {
      color: $color-3;
      font-size: 1.1rem;
      text-transform: uppercase;
      padding: 0 1rem;
      flex: 1;
      z-index: 2;
      @include verticalCenter;

      @media (max-width: 580px){
        padding: 0 6px 0 15px;
      }

      input[type="radio"]{
        visibility: hidden;
        position: relative;

        &:before {
          content:'';
          visibility: visible;
          position: absolute;
          top: -3px;
          left: -12px;
          height: .9rem;
          width: .9rem;
          border-radius: 50%;
          border: 2px solid $color-4;
          cursor: pointer;
          transition: 0.3s;
        }
        &:after {
          content:'';
          visibility: visible;
          position: absolute;
          top: 0px;
          left: -12px; 
          height: 14px;
          width: 15px;
          border-radius: 50%;
          cursor: pointer;
          transition: 350ms;
          background: $color-4;
          transform: scale(0);
          transform-origin: center;
        }
      }
      input:checked:after {
        transform: scale(1.17) translate(-25%, -25%);
        top: 2px;
        left: -6px;

        @media (max-width: 850px){
          top: 4px;
        }
      }
      input:checked + label {
        color: $color-4;
      }
      label {
        cursor: pointer;

        @media (max-width: 580px){
          font-size: .5rem;
        }
      }
    }
  }
  .projects {
    grid-area: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .project {
      background: linear-gradient(115deg, $color-2 0%, #3c4bf0 100%);
      border-radius: $borderRadius;
      margin: 0.5rem 0 0 0;
      text-align: center;
      width: 32%;
      max-height: 50%;
      padding: .3rem;
      box-shadow: $shadow;
      display: grid;
      grid-template-rows: 15% 15% 55% 15%;
      grid-template-areas: 
        "1"
        "2"
        "3"
        "4";
    }
    .icons {
      grid-area: 1;
      @include verticalCenter;
      background: linear-gradient(115deg, $color-1 0%, #452a97 80%);
      box-shadow: $shadow;
      width: 66%;
      margin: 0 auto;
      padding: 1rem;
      height: 2rem;
      border-radius: 50px;

      i {
        font-size: 1.4rem;
        padding: 0 .35rem;
        color: $color-5;
        text-shadow: 0 0px 1px $color-1;
      }
    }
    h3 {
      grid-area: 2;
      font-family: $font-2;
      color: $color-5;
      font-size: 1.65rem;
      @include verticalCenter;
      justify-content: left;

    }
    .projectImg {
      grid-area: 3; 
      min-height: 98%;
      overflow: hidden;
      box-shadow: 0 2px 6px #333;
      border-radius: 14px;
      position: relative;

      img {
        object-fit: cover;
        object-position: 0%;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
        transition: .5s;
        @include verticalCenter;

        &:hover {
          transform: scale(1.2);
        }
      }
    }
    .infos {
      grid-area: 4;
      color: $color-4;
      cursor: pointer;
      font-size: 1.5rem;
      @include verticalCenter;

      i {
        transition: transform .2s;
      }
      i:hover {
        transform: scale(1.1);
      }
    }
    .showInfos {
      position: fixed;
      @include verticalCenter;
      height: 100%;
      width: 100vw;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.507);
      animation: popup .3s ease forwards ;
      transform-origin: center;
      z-index: 2;

      .infosContent {
        position: relative;
        width: 600px;
        margin: 0 auto;
        color: $color-5;
        background: linear-gradient(115deg, $color-1 0%, #41219e 80%);
        border-radius: $borderRadius;
        padding: 2rem;
        box-shadow: 0 5px 5px rgba(51, 51, 51, 0.281);
        animation: popup .6s ease forwards;
        transform: scale(0);
        transform-origin: center;

        @media (max-width: 650px){
          min-width: 80%;
          max-width: 85%;
          margin: 0 auto;;
        }

        @keyframes popup {
          to {
            transform: scale(1);
          } 
        }
      }
      .head {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
      }
      h2 {
        text-align: left;
        margin-bottom: 1rem;
        border: 1px solid $color-4;
        padding: .4rem;
        border-radius: 4px;
      }
      .sourceCode {
        margin-top: .75rem;

        @media (max-width: 650px){
          display: none;
        }
      }
      .button {
        cursor: pointer;
        color: $color-1;
        box-shadow: 1px 2px 2px #333;
        border-radius: $borderRadius;
        padding: 1rem;
        transition: .2s;
        background-color: $color-5;
        background-image: linear-gradient(115deg, $color-5, rgba(255, 255, 255, 0.3));
        transition: background-color .5s;

        &:hover {
          background-color: rgb(253, 253, 59);
        }
      }
      .text {
        text-align: justify;
        padding-bottom: 1rem;
      }
      .link {
        margin-bottom: 2rem;

        a, a:visited {
          color: $color-4;
          padding: .3rem;
          border: 1px solid $color-2;
          transition: .2s;
          border-radius: 4px;
        
          &:hover {
            background: $color-4;
            color: $color-1;
          }
        }
      }
      .video {
        border-radius: 5px;
        box-shadow: $shadow;
        width: 480px;
        height: 250px;
        margin: .5rem auto 2rem;
        overflow: hidden;
        transform: scale(0);
        animation: videoAnim .4s ease-out forwards;
        animation-delay: 0.4s;

        @keyframes videoAnim {
          to {
            transform: scale(1);
          }
        }

        @media (max-width: 650px){
          display: none;
        }

        iframe {
          width: 100%;
          height: 100%;
        }
      }
      .return {
        margin: 1rem auto;
        width: 250px;

        @media (max-width: 650px){
          width: 100px;
        }
      }
    }
  }
}
@media (max-width: 1030px){
  .project {
    h3 {
      font-size: 1.2rem !important;
    }
  }
}
@media (max-width: 650px) and (min-width: 521px){
  .portfolioContent {
    .project {
      width: 49% !important;
      min-height: 300px !important;

      i {
        font-size: 1rem;
      }
      img {
        height: 100% !important;
      }
    }
    .infosContent {
      width: 100% !important;
    }
  }
}
@media (max-width: 520px){
  .portfolioContent {
    grid-template-rows: 1fr !important;

    .project {
      grid-template-rows: 15% 15% 55% 15% !important;
      width: 98% !important;
      height: 220px;

      img {
        height: 110px;
      }
    }
    .infosContent {
      width: 300px !important;
    }
    h2 {
      font-size: 1rem;
    }
    .button { 
      font-size: .6rem;
    }
  }
}